.img{
    width:200px;
    height: 200px;
}

.mblock{
    border: 1px solid black;
    
    width: 300px;
     display: flex;
     align-items: center;
}
.pblock{
    display: flex; 
    text-align: center;
    justify-content: center;
}